@{
    ViewData["Title"] = "Home Page";
    ViewData["js"] = "home.js";
}

<div class="text-center">
    <h1 class="display-1  "> !!!!!!</h1>
    <h1 class="display-1  "> welcome</h1>
    <h1 class="display-1  "> to</h1>
   
    <h1 class="display-1  "> our</h1>
    <h1 class="display-1  "> website</h1>

</div>
