@{
    ViewData["Title"] = "Home Page";
    ViewData["js"] = "home.js";
}
<div id="layoutSidenav_content">
    <div class="text-center">
        <img src="~/img/github.jpg"
            style="width: 700px; height: 450px"  alt="logo">
        <h2> Source code (github): <a href="https://github.com/BToan22/CMP175_WebFinalProject.git"> https://github.com/BToan22/CMP175_WebFinalProject.git</a></h2>
        <h1 class="display-1"> Welcome to our website !!!! </h1>
    </div>
    <div class="small text-center">&copy; 2023 - WebFinal - Tran Nguyen Bao Toan - Do Hoang Cong Danh</div>
</div>

